/* Primary colors */
.MuiPaper-root{
    background-color: var(--color-paper);
}
/* Header styling */
h5{
    margin-top: 1%;
    text-decoration-line: underline;
}

h6{
    margin-top: 1%;
    margin-bottom: 1%;
}

.segment-box{
    padding: 5px;
    border-radius: 5px;
    filter: brightness(110%);
    box-shadow: 0 0 5px 1px;
}

.MuiAccordionSummary-content{
    font-size: large;
}

/* Animation hover text */
@keyframes appearDelayed {
    0% {
        opacity: 0;
        width: 0;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        content: "";
        z-index: -1;
        display: none;
    }
    99.99% {
        opacity: 0;
        width: 0;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        content: "";
        z-index: -1;
        display: none;
    }
    100% {
        opacity: 1;
        width: 100%;
        height: 100%;
        visibility: visible;
        overflow: visible;
        z-index: 1;
        display: block;
    }
}

.MuiTooltip-tooltip {
    animation: appearDelayed 200ms none;
    animation-delay: 1.0s;
}

/* Data node button */
#current_in_node.MuiPaper-root.MuiCollapse-root.MuiCollapse-wrapper.MuiCollapse-wrapperInner.MuiAccordion-region.MuiAccordionDetails-root.MuiBox-root{
    display: none;
}

#current_in_node-data {
    display: none;
}
#current_in_node-dn-tabpanel-data div.MuiGrid2-root.MuiGrid2-container.MuiGrid2-direction-xs-row div.MuiGrid2-root.MuiGrid2-direction-xs-row div.taipy-toggle.MuiBox-root {
    display: none;
}
#current_in_node.taipy_gui_core-data-node.MuiBox-root div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiAccordion-root.MuiAccordion-rounded.Mui-expanded.MuiAccordion-gutters div.MuiCollapse-root.MuiCollapse-vertical.MuiCollapse-entered div.MuiCollapse-wrapper.MuiCollapse-vertical div.MuiCollapse-wrapperInner.MuiCollapse-vertical div.MuiStack-root{
    display: none;
}
#current_in_node-dn-tabpanel-data div.MuiGrid2-root.MuiGrid2-container.MuiGrid2-direction-xs-row div.MuiGrid2-root.MuiGrid2-direction-xs-row div.MuiFormControl-root.MuiTextField-root{
    display: none;
}