/* Primary colors */
.MuiPaper-root{
    background-color: var(--color-paper);
}
/* Header styling */
h5{
    margin-top: 1%;
    text-decoration-line: underline;
}

h6{
    margin-top: 1%;
    margin-bottom: 1%;
}

.segment-box{
    padding: 5px;
    border-radius: 5px;
    filter: brightness(110%);
    box-shadow: 0 0 5px 1px;
}

.MuiAccordionSummary-content{
    font-size: large;
}

/* Animation hover text */
@keyframes appearDelayed {
    0% {
        opacity: 0;
        width: 0;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        content: "";
        z-index: -1;
        display: none;
    }
    99.99% {
        opacity: 0;
        width: 0;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        content: "";
        z-index: -1;
        display: none;
    }
    100% {
        opacity: 1;
        width: 100%;
        height: 100%;
        visibility: visible;
        overflow: visible;
        z-index: 1;
        display: block;
    }
}

.MuiTooltip-tooltip {
    animation: appearDelayed 200ms none;
    animation-delay: 1.0s;
}


